<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo" > e-Learning GI_2023 </label>
  <ul>
    <li><a (click)=" handleLoginAction()">Login</a></li>
    <li><a (click)="handleSignUpAction()">SignUp</a></li>
    <li> About Us</li>
  </ul>
</nav>

<div class="corps">
  <div class="contenu">
    <h1>Bienvenu sur la plateforme e-Learning 3GI_2023</h1>
    <p>Ici vous pouvez publier vos cours pour les élèves du cameroun</p>
  </div>

</div>
